html {
    font-size: 10px;
}
    /*!sc*/
    html.modal-open {
        overflow: hidden;
    }
/*!sc*/
body.moda-open {
    overflow: inherit;
}
/*!sc*/
@media (prefers-reduced-motion) {
    html, .scroll-container {
        -webkit-scroll-behavior: auto;
        -moz-scroll-behavior: auto;
        -ms-scroll-behavior: auto;
        scroll-behavior: auto;
    }
}
/*!sc*/
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*!sc*/
.headerBox {
    z-index: 99;
}
/*!sc*/
.oh {
    overflow: hidden;
}
/*!sc*/
body {
    background: #dadee3;
    color: #141823;
    font: 400 1.2rem/1.33 "Roboto",Helvetica,Arial,sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*!sc*/
.dn {
    display: none;
}
/*!sc*/
.dF {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
/*!sc*/
.dIF {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
/*!sc*/
.width100 {
    width: 100%;
}
/*!sc*/
.flexWrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
/*!sc*/
.flex1 {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/*!sc*/
.flex1_5 {
    -webkit-flex: 1.5;
    -ms-flex: 1.5;
    flex: 1.5;
}
/*!sc*/
.flex2 {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
}
/*!sc*/
.flexCol {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
/*!sc*/
.flexRow {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}
/*!sc*/
.justifyCenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
/*!sc*/
.justifyStart {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
/*!sc*/
.justifyEnd {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
/*!sc*/
.justifyBetween {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
/*!sc*/
.justifyAround {
    -webkit-box-pack: space-around;
    -webkit-justify-content: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}
/*!sc*/
.alignItemsCenter {
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
/*!sc*/
.alignItemsStart {
    -webkit-align-items: flex-start;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}
/*!sc*/
.alignItemsEnd {
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}
/*!sc*/
.alignItemsBaseline {
    -webkit-align-items: baseline;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}
/*!sc*/
.alignItemsStretch {
    -webkit-align-items: stretch;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}
/*!sc*/
.alignSelfStart {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}
/*!sc*/
.alignSelfCenter {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
/*!sc*/
.fGS0 {
    -webkit-box-flex: 0;
    -webkit-flex-grow: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
/*!sc*/
.black.black {
    color: #141823;
}
/*!sc*/
.white.white {
    color: #ffffff;
}
/*!sc*/
.green.green {
    color: #18a160;
}
/*!sc*/
.red {
    color: #f04949;
}
/*!sc*/
.grey.grey {
    color: #8e93ab;
}
/*!sc*/
.drGrey.drGrey {
    color: #777777;
}
/*!sc*/
.pinkish_orange {
    color: #ff6d38;
}
/*!sc*/
.greyLt {
    color: #dadee3;
}
/*!sc*/
.go_blue.go_blue {
    color: #2276e3;
}
/*!sc*/
.light_grey {
    color: #c2c2c2;
}
/*!sc*/
.blueGrey {
    color: #647a97;
}
/*!sc*/
.go_blue_bg {
    background-color: #2276e3;
}
/*!sc*/
.go_grey_bg {
    background: #dadee3;
}
/*!sc*/
.go_orange_bg {
    background-color: #ff6d38;
}
/*!sc*/
.light_grey_bg {
    background-color: #c2c2c2;
}
/*!sc*/
.whiteBg {
    background-color: #ffffff;
}
/*!sc*/
.paleGreyBg {
    background-color: #fafafa;
}
/*!sc*/
.txtUpper {
    text-transform: uppercase;
}
/*!sc*/
.underLn {
    -webkit-text-decoration: underline;
    text-decoration: underline;
}
/*!sc*/
.strike {
    -webkit-text-decoration: line-through;
    text-decoration: line-through;
}
/*!sc*/
.fb {
    font-weight: bold;
}
/*!sc*/
.fn {
    font-weight: normal;
}
/*!sc*/
.hmMed {
    font-weight: 500;
}
/*!sc*/
.quicksand {
    font-family: 'Quicksand';
}
/*!sc*/
.font10 {
    font-size: 1rem;
}
/*!sc*/
.font11 {
    font-size: 1.1rem;
}
/*!sc*/
.font12 {
    font-size: 1.2rem;
}
/*!sc*/
.font13 {
    font-size: 13px;
}
/*!sc*/
.font14 {
    font-size: 14px;
}
/*!sc*/
.font15 {
    font-size: 15px;
}
/*!sc*/
.font16 {
    font-size: 1.6rem;
}
/*!sc*/
.font17 {
    font-size: 1.7rem;
}
/*!sc*/
.font18 {
    font-size: 1.8rem;
}
/*!sc*/
.font20 {
    font-size: 2rem;
}
/*!sc*/
.font24 {
    font-size: 2.4rem;
}
/*!sc*/
.helveticaNue {
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
/*!sc*/
.ls1 {
    -webkit-letter-spacing: 1px;
    -moz-letter-spacing: 1px;
    -ms-letter-spacing: 1px;
    letter-spacing: 1px;
}
/*!sc*/
.padT3 {
    padding-top: 3px;
}
/*!sc*/
.padT5 {
    padding-top: 0.5rem;
}
/*!sc*/
.padT10 {
    padding-top: 10px;
}
/*!sc*/
.padT15 {
    padding-top: 1.5rem;
}
/*!sc*/
.padT20 {
    padding-top: 2rem;
}
/*!sc*/
.padT25 {
    padding-top: 25px;
}
/*!sc*/
.padB5 {
    padding-bottom: 0.5rem;
}
/*!sc*/
.padB10 {
    padding-bottom: 10px;
}
/*!sc*/
.padB15 {
    padding-bottom: 1.5rem;
}
/*!sc*/
.padB20 {
    padding-bottom: 2rem;
}
/*!sc*/
.padL5 {
    padding-left: 0.5rem;
}
/*!sc*/
.padL10 {
    padding-left: 1rem;
}
/*!sc*/
.padL20 {
    padding-left: 2rem;
}
/*!sc*/
.padL40 {
    padding-left: 40px;
}
/*!sc*/
.padR5 {
    padding-right: 0.5rem;
}
/*!sc*/
.padR10 {
    padding-right: 1rem;
}
/*!sc*/
.padR15 {
    padding-right: 1.5rem;
}
/*!sc*/
.padR20 {
    padding-right: 2rem;
}
/*!sc*/
.pad10 {
    padding: 1rem;
}
/*!sc*/
.pad20 {
    padding: 2rem;
}
/*!sc*/
.padTB50 {
    padding: 50px 0;
}
/*!sc*/
.padTB3 {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}
/*!sc*/
.padLR15 {
    padding-left: 15px;
    padding-right: 15px;
}
/*!sc*/
.marginT15 {
    margin-top: 15px;
}
/*!sc*/
.marginT25 {
    margin-top: 25px;
}
/*!sc*/
.marginL5 {
    margin-left: 5px;
}
/*!sc*/
.marginL10 {
    margin-left: 10px;
}
/*!sc*/
.marginR5 {
    margin-right: 5px;
}
/*!sc*/
.marginR7 {
    margin-right: 7px;
}
/*!sc*/
.marginR10 {
    margin-right: 10px;
}
/*!sc*/
.marginB8 {
    margin-bottom: 8px;
}
/*!sc*/
.marginB30 {
    margin-bottom: 30px;
}
/*!sc*/
.marginTB20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
/*!sc*/
.marginT20 {
    margin-top: 20px;
}
/*!sc*/
.marginB4 {
    margin-bottom: 4px;
}
/*!sc*/
.marginB8 {
    margin-bottom: 8px;
}
/*!sc*/
.marginB15 {
    margin-bottom: 15px;
}
/*!sc*/
.marginB30 {
    margin-bottom: 30px;
}
/*!sc*/
.TxtRight {
    text-align: right;
}
/*!sc*/
.TxtCenter {
    text-align: center;
}
/*!sc*/
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.3;
}
/*!sc*/
.width65 {
    width: 65%;
}
/*!sc*/
.width48 {
    width: 48%;
}
/*!sc*/
.width50 {
    width: 50%;
}
/*!sc*/
.wid70 {
    width: 70%;
}
/*!sc*/
.width80 {
    width: 90%;
}
/*!sc*/
.wid15 {
    width: 15%;
}
/*!sc*/
.wid40 {
    width: 40%;
}
/*!sc*/
.wid45 {
    width: 45%;
}
/*!sc*/
.wid35-5 {
    width: 35.5%;
}
/*!sc*/
.wid25 {
    width: 25%;
}
/*!sc*/
.wid26 {
    width: 26%;
}
/*!sc*/
.wid33-3 {
    width: 33.333%;
}
/*!sc*/
.brdrBot {
    border-bottom: 1px solid #F0F0F0;
}
/*!sc*/
.borderTop {
    border-top: 1px solid #e6e6e6;
}
/*!sc*/
.BrdrBotDsh {
    border-bottom: 1px dashed #cbcbcb;
}
/*!sc*/
.btnBrdr {
    border: none;
    border-radius: 8px;
}
/*!sc*/
.brdrRd10 {
    border-radius: 10px;
}
/*!sc*/
.posRel {
    position: relative;
}
/*!sc*/
.posAbs {
    position: absolute;
}
/*!sc*/
.clr {
    clear: both;
}
/*!sc*/
.curPointFlt {
    cursor: pointer;
}
/*!sc*/
a {
    color: #166bd3;
    cursor: pointer;
    outline: none;
    -webkit-text-decoration: none;
    text-decoration: none;
}
/*!sc*/
.lh1 {
    line-height: 1;
}
/*!sc*/
.lh1-2 {
    line-height: 1.2;
}
/*!sc*/
.vh {
    visibility: hidden;
}
/*!sc*/
*:after, *:before {
    box-sizing: border-box;
}
/*!sc*/
.opacity75 {
    opacity: 0.75;
}
/*!sc*/
.op0-5 {
    opacity: 0.5;
}
/*!sc*/
.op0-7 {
    opacity: 0.7;
}
/*!sc*/
.disable {
    pointer-events: none;
    cursor: not-allowed;
    color: #666;
}
/*!sc*/
.rotate180 {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
/*!sc*/
.font11.font11, .font11Lt.font11Lt, .font12.font12, .font12Dr.font12Dr, .font12Lt.font12Lt, .font13.font13, .font13Orange.font13Orange, .font14.font14, .font15.font15, .font16.font16, .font17.font17, .font18.font18, .font18Dr.font18Dr, .font19.font19, .font20.font20, .font20Dr.font20Dr, .font21.font21, .font23.font23, .font24.font24, .font25.font25, .font26.font26, .font27.font27, .font28.font28, .font29.font29, .font30.font30, .font31.font31, .font32.font32, .font33.font33, .font34.font34, .font35.font35, .font36.font36 {
    line-height: inherit;
}
/*!sc*/
.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
}
/*!sc*/
data-styled.g1[id="sc-global-cLlVak1"] {
    content: "sc-global-cLlVak1,";
}
/*!sc*/
.mLgyS {
    box-shadow: 0 1px 3px rgba(0,0,0,0.24);
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
}
/*!sc*/
data-styled.g82[id="common-elementsstyles__BkFltCrd-sc-ilw4bs-13"] {
    content: "mLgyS,";
}
/*!sc*/
.kjWKBU {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: gQKqOV;
    animation-name: gQKqOV;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: #eeeeee;
    background: linear-gradient(to right,#eeeeee 8%,#dddddd 18%,#eeeeee 33%);
    background-size: 800px 104px;
    max-height: 96px;
    position: relative;
}
/*!sc*/
data-styled.g89[id="common-elementsstyles__AnimatedBackground-sc-ilw4bs-22"] {
    content: "kjWKBU,";
}
/*!sc*/
.wDnvs {
    background: url(static/media/bkHdrMsg-b5223854babfbb42d433c3e13b2a84f7.gif) center center no-repeat;
    width: 303px;
    height: 40px;
    background-size: contain;
}
/*!sc*/
data-styled.g301[id="headerstyles__BkHeaderMsg-sc-174gg49-1"] {
    content: "wDnvs,";
}
/*!sc*/
.cOjRWD {
    background: url(static/media/gi_logo-726f7b06c7740dd89283bf62a4abe1a5.png) no-repeat;
    width: 125px;
    height: 47px;
    background-size: contain;
}
/*!sc*/
data-styled.g302[id="headerstyles__GiHdrLogo-sc-174gg49-2"] {
    content: "cOjRWD,";
}
/*!sc*/
.hlYwWi .fl {
    float: left;
}
/*!sc*/
.hlYwWi .fr {
    float: right;
}
/*!sc*/
.hlYwWi .txtRight {
    text-align: right;
}
/*!sc*/
.hlYwWi .db {
    display: block;
}
/*!sc*/
.hlYwWi .padT10 {
    padding-top: 10px;
}
/*!sc*/
.hlYwWi .blue {
    color: #2d67b2;
}
/*!sc*/
.hlYwWi .ico13 {
    font-size: 13px;
}
/*!sc*/
.hlYwWi .blue {
    color: #2d67b2;
}
/*!sc*/
.hlYwWi .ico30 {
    font-size: 30px;
}
/*!sc*/
.hlYwWi .padR5 {
    padding-right: 5px;
}
/*!sc*/
.hlYwWi .padL10 {
    padding-left: 10px;
}
/*!sc*/
.hlYwWi .headerBoxSub .hdrUser:hover {
    color: #f26722;
}
/*!sc*/
.hlYwWi .headerBoxSub .hdrUser {
    display: inline-block;
    border-bottom: 2px solid #fff;
    cursor: pointer;
}
/*!sc*/
.hlYwWi .vMid {
    vertical-align: middle;
}
/*!sc*/
.hlYwWi .fmtTooltip {
    position: relative;
    cursor: pointer;
    display: inline-block;
}
    /*!sc*/
    .hlYwWi .fmtTooltip .tip {
        -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        -webkit-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
        display: block;
        margin-bottom: 15px;
        opacity: 0;
        padding: 10px;
        pointer-events: none;
        position: absolute;
        min-width: 250px;
        border-radius: 3px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        z-index: 999999;
        font-size: 12px;
        line-height: 1;
        line-height: 1.2 !important;
    }
    /*!sc*/
    .hlYwWi .fmtTooltip .tip_top.white:after {
        border-bottom: solid #fff 10px;
    }
    /*!sc*/
    .hlYwWi .fmtTooltip .tip_top.right {
        left: 100%;
        -webkit-transform: translate(-101%,10px);
        -moz-transform: translate(-101%,10px);
        -ms-transform: translate(-101%,10px);
        -o-transform: translate(-101%,10px);
        -webkit-transform: translate(-101%,10px);
        -ms-transform: translate(-101%,10px);
        transform: translate(-101%,10px);
    }
    /*!sc*/
    .hlYwWi .fmtTooltip .tip.white {
        background: #fff;
        color: #666;
    }
    /*!sc*/
    .hlYwWi .fmtTooltip .tip_top {
        top: 110%;
        left: 50%;
        -webkit-transform: translate(-50%,20px);
        -moz-transform: translate(-50%,20px);
        -ms-transform: translate(-50%,20px);
        -o-transform: translate(-50%,20px);
        -webkit-transform: translate(-50%,20px);
        -ms-transform: translate(-50%,20px);
        transform: translate(-50%,20px);
    }
        /*!sc*/
        .hlYwWi .fmtTooltip .tip_top.right {
            left: 100%;
            -webkit-transform: translate(-101%,10px);
            -moz-transform: translate(-101%,10px);
            -ms-transform: translate(-101%,10px);
            -o-transform: translate(-101%,10px);
            -webkit-transform: translate(-101%,10px);
            -ms-transform: translate(-101%,10px);
            transform: translate(-101%,10px);
        }
            /*!sc*/
            .hlYwWi .fmtTooltip .tip_top.right:after, .hlYwWi .fmtTooltip .tip_top.right:before {
                left: 95%;
            }
        /*!sc*/
        .hlYwWi .fmtTooltip .tip_top:after, .hlYwWi .fmtTooltip .tip_top:before {
            content: ' ';
            position: absolute;
            bottom: 100%;
            left: 50%;
            margin-left: -10px;
            border-left: solid transparent 10px;
            border-right: solid transparent 10px;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translateX(-50%);
        }
        /*!sc*/
        .hlYwWi .fmtTooltip .tip_top:before {
            border-bottom: 10px solid #111;
            border-bottom: 10px solid rgba(0,0,0,0.2);
            margin-bottom: 1px;
        }
        /*!sc*/
        .hlYwWi .fmtTooltip .tip_top:after {
            z-index: 1;
        }
    /*!sc*/
    .hlYwWi .fmtTooltip:hover .tip_btm, .hlYwWi .fmtTooltip:hover .tip_top {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translate(-50%,5px);
        -moz-transform: translate(-50%,5px);
        -ms-transform: translate(-50%,5px);
        -o-transform: translate(-50%,5px);
        -webkit-transform: translate(-50%,5px);
        -ms-transform: translate(-50%,5px);
        transform: translate(-50%,5px);
    }
        /*!sc*/
        .hlYwWi .fmtTooltip:hover .tip_btm.right, .hlYwWi .fmtTooltip:hover .tip_top.right {
            -webkit-transform: translate(-101%,5px);
            -moz-transform: translate(-101%,5px);
            -ms-transform: translate(-101%,5px);
            -o-transform: translate(-101%,5px);
            -webkit-transform: translate(-101%,5px);
            -ms-transform: translate(-101%,5px);
            transform: translate(-101%,5px);
        }
    /*!sc*/
    .hlYwWi .fmtTooltip:hover .tip_top {
        opacity: 1;
        pointer-events: auto;
        -webkit-transform: translate(-50%,10px);
        -moz-transform: translate(-50%,10px);
        -ms-transform: translate(-50%,10px);
        -o-transform: translate(-50%,10px);
        -webkit-transform: translate(-50%,10px);
        -ms-transform: translate(-50%,10px);
        transform: translate(-50%,10px);
    }
/*!sc*/
.hlYwWi [class*=' icon-'], .hlYwWi [class^='icon-'] {
    font-family: go_font_v38 !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/*!sc*/
.hlYwWi .padLR10 {
    padding-left: 10px;
    padding-right: 10px;
}
/*!sc*/
.hlYwWi .padTB15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
/*!sc*/
.hlYwWi .col-md-2 {
    width: 16.66666667%;
    float: left;
}
/*!sc*/
.hlYwWi .col-md-10 {
    width: 83.33333333%;
    float: left;
}
/*!sc*/
.hlYwWi .textOverflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*!sc*/
.hlYwWi .ico16 {
    font-size: 16px;
}
/*!sc*/
.hlYwWi .greyDr {
    color: #333;
}
/*!sc*/
.hlYwWi .padB4 {
    padding-bottom: 4px;
}
/*!sc*/
.hlYwWi .padL5 {
    padding-left: 5px;
}
/*!sc*/
.hlYwWi .fmed {
    font-weight: 500;
    font-style: normal;
}
/*!sc*/
.hlYwWi .ico13 {
    font-size: 13px;
}
/*!sc*/
.hlYwWi .padT2 {
    padding-top: 2px;
}
/*!sc*/
.hlYwWi .padL5 {
    padding-left: 5px;
}
/*!sc*/
.hlYwWi .curPoint {
    cursor: pointer;
}
/*!sc*/
.hlYwWi .blueBg {
    background-color: #2276e3;
}
/*!sc*/
.hlYwWi .marginB10 {
    margin-bottom: 10px;
}
/*!sc*/
.hlYwWi .padLR10 {
    padding-left: 10px;
    padding-right: 10px;
}
/*!sc*/
.hlYwWi ul {
    list-style: none;
}
/*!sc*/
.hlYwWi .headerBoxSub .moreSubLinks li {
    width: 100%;
    float: left;
}
/*!sc*/
.hlYwWi .headerBoxSub .moreSubLinks a {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
    line-height: 1;
    color: #2d67b2;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
}
/*!sc*/
.hlYwWi .headerBoxSub .hdrUser .moreSubLinks a {
    border-bottom: 0;
}
/*!sc*/
.hlYwWi .headerBoxSub .moreSubLinks {
    padding: 0 !important;
}
/*!sc*/
.hlYwWi .pad0 {
    padding: 0 !important;
}
/*!sc*/
.hlYwWi .headerBoxSub .moreSubLinks a:hover {
    color: #f26722;
    -webkit-text-decoration: none;
    text-decoration: none;
}
/*!sc*/
.hlYwWi .bkHdRt span.hdrUserName > span {
    font-size: 16px;
    padding-top: 7px;
}
/*!sc*/
.hlYwWi a, .hlYwWi a:visited {
    color: #4f9cff;
}
/*!sc*/
data-styled.g303[id="headerstyles__BkHdrLinks-sc-174gg49-3"] {
    content: "hlYwWi,";
}
/*!sc*/
.dvQVep {
    background-color: #f8f9fa;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*!sc*/
data-styled.g305[id="flight-reviewstyles__Wrapper-sc-1h0nhzs-0"] {
    content: "dvQVep,";
}
/*!sc*/
.gYAQwz {
    width: 1215px;
    margin: 0 auto;
    padding-top: 1rem;
}
/*!sc*/
data-styled.g306[id="flight-reviewstyles__Container-sc-1h0nhzs-1"] {
    content: "gYAQwz,";
}
/*!sc*/
.jvIKnA {
    width: 870px;
    float: left;
}
/*!sc*/
data-styled.g307[id="flight-reviewstyles__ResultsWrap-sc-1h0nhzs-2"] {
    content: "jvIKnA,";
}
/*!sc*/
.ipIHbz {
    float: right;
    width: 320px;
}
/*!sc*/
data-styled.g308[id="flight-reviewstyles__BkFareSumry-sc-1h0nhzs-3"] {
    content: "ipIHbz,";
}
/*!sc*/
.ivoQNd {
    border-top: 2px solid #e1e7ee;
}
/*!sc*/
data-styled.g310[id="flight-reviewstyles__Divider-sc-1h0nhzs-5"] {
    content: "ivoQNd,";
}
/*!sc*/
.gmfVJK {
    background-color: #f8fcff;
}
/*!sc*/
data-styled.g316[id="fare-summarystyles__TotalAmount-sc-u1o0is-2"] {
    content: "gmfVJK,";
}
/*!sc*/
.faOziC {
    margin: 0 auto;
    width: 90%;
}
/*!sc*/
data-styled.g322[id="flight-detailstyles__ReviewCnt-sc-1i6unua-0"] {
    content: "faOziC,";
}
/*!sc*/
.klrUkR {
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    padding: 1rem 0;
    position: relative;
}
/*!sc*/
data-styled.g323[id="flight-detailstyles__TicketDtlBox-sc-1i6unua-1"] {
    content: "klrUkR,";
}
/*!sc*/
.bUBmNJ {
    top: -1px;
    right: 127px;
    width: 20px;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.125);
    position: absolute;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    border-top-color: #fff;
}
/*!sc*/
data-styled.g324[id="flight-detailstyles__BkHalfCirctop-sc-1i6unua-2"] {
    content: "bUBmNJ,";
}
/*!sc*/
.epxuJA {
    width: 20px;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.125);
    position: absolute;
    bottom: -1px;
    right: 127px;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-color: #fff;
}
/*!sc*/
data-styled.g325[id="flight-detailstyles__BkHalfCircbot-sc-1i6unua-3"] {
    content: "epxuJA,";
}
/*!sc*/
@-webkit-keyframes gQKqOV {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
/*!sc*/
@keyframes gQKqOV {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}
/*!sc*/
data-styled.g510[id="sc-keyframes-gQKqOV"] {
    content: "gQKqOV,";
}
/*!sc*/

